<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Plantilla en MVC, con BOOTSTRAP 3
      {% endblock %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- CSS de SCEditor -->
    <link rel="stylesheet" href="sceditor/minified/themes/office.min.css" />

    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">

  </head>
  <body>
    
    <section class="container">
      
      <header>
      {% block encabezado %}
        <h1>Hola desde el encabezado de las entradas</h1>
        <hr>
      {% endblock %}
      </header>

      {% block login %}

		{% if session.conectado %}
			
			<h4>Estas conectado - <small><a href="index.php?desconectar=si">deconectar</a></small></h4>
			
		{% else %}
		    
		<form class="form-inline" role="form" method="post" action="index.php">
		  <div class="form-group">
		    <label class="sr-only" for="correo">Email</label>
		    <input type="email" class="form-control" id="correo"
		           placeholder="Introduce tu email" name="correo">
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="clave">Contraseña</label>
		    <input type="password" class="form-control" id="clave" 
		           placeholder="Contraseña" name="clave">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" name="recordar"> No cerrar sesión
		    </label>
		  </div>
		  <button type="submit" class="btn btn-default" name="entrar">Entrar</button>
		</form>
		<hr>

		{% endif %}

      {% endblock %}
      
      <nav>
        <a href="index.html">Ver productos</a>
        -
        <a href="blog.html">Ver Noticias del Blog</a>
        -
        <a href="categorias.html">Ver Categorias del Blog</a>
        -
        <a href="centros-deportivos.html">Ver Centros Deportivos</a>
      </nav>

      <section>
        <header>
          <h2>
          {% block titulo_contenido %}
              Seccion de 
          {% endblock %}
          </h2>
        </header>
        <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
        </section>
      </section>

      <footer>
      {% block pie %}
        <hr>
        <h4>Todos los derechos reservados</h4>
      {% endblock %}
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
  
    <!-- Queda puesto el wysiwyg sceditor  -->
    <script src="sceditor/minified/sceditor.min.js"></script>
    <script src="sceditor/minified/formats/bbcode.min.js"></script>
    <script src="sceditor/languages/es.js"></script>
    <script>
    // Replace the textarea #example with SCEditor
    var textarea = document.getElementById('descripcion');
    sceditor.create(textarea, {
      format: 'bbcode'
    });
    </script>

  </body>
</html>