{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	<small>insertar un elemento</small>    
{% endblock %}

{% block contenido %}
    <form action="index.php?c=categoriasController.php&accion={{ accion }}" method="post" enctype="multipart/form-data">
    	<div>
    		<label for="nombre">
    			Nombre de la categoria:
    		</label>
    		<input type="text" name="nombre" id="nombre" class="form-control" value="{{ categoria.nombre }}">
    	</div>
    	<div>
    		<label for="descripcion">
    			Descripcion de la categoria:
    		</label>
    		<textarea name="descripcion" style="height: 200px;" id="descripcion" class="form-control">{{ categoria.descripcion }}</textarea>
    	</div>
    	<br>
    	<input type="hidden" name="id" value="{{ categoria.id }}">
    	<div>
    		<input type="submit" name="enviar" id="enviar" class="form-control">
    	</div>

    </form>
{% endblock %}