{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	<small>Centro deportivo</small>    
	<hr>
{% endblock %}

{% block contenido %}
	
	<h2>{{ elcentro.nombre }} - <small>{{ elcentro.direccion }}</small></h2>

	<div id="map" style="width:100%; height: 400px;"></div>
    <script>
      function initMap() {
        var myLatLng = {lat: 41.652703049943, lng: -0.86944484537454};
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 18
        });
        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: '{{ elcentro.nombre }}'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKiMHDQgFulPABMVVnQq3Z0t8qRZawCOk&callback=initMap" async defer></script>

677408.53
4613410.17

{% endblock %}