{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>entradas de mi blog</small>    
{% endblock %}





{% block contenido %}
	<table class="table table-striped">
		<tr>
			<th>Titulo del Post</th>
		</tr>

		{% for entrada in entradas %}
		<tr>
			<td>
				<a href="index.php?c=blogController.php&id={{ entrada.id }}">
					{{ entrada.titulo }}
				</a>
			</td>
		</tr>
		{% endfor %}
		
	</table>
{% endblock %}